name: Lint

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"

jobs:
  run-linters:
    name: Run linters
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 16

      # ESLint and Prettier must be in `package.json`
      - name: Install Node.js dependencies
        run: yarn install --frozen-lockfile

      - name: Run ESLint
        uses: wearerequired/lint-action@v1
        with:
          eslint: true
          
      - name: Run Prettier
        uses: wearerequired/lint-action@v1
        with:
          prettier: true
          prettier_extensions: "css,html,js,json,jsx,md,sass,scss,ts,tsx,vue"
          auto_fix: true
          github_token: ${{ secrets.GITHUB_TOKEN }}
          git_email: "fairdataihub@gmail.com"
          git_name: "fairdataihub-bot"
